@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #e6e6e1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header a {
    color: black;
    font-size: 15pt;
}

header div {
    display: flex;
    gap: 50px;
}

header h1 {
    padding-left: 255px;
}

main {
    display: grid;

    height: calc(100vh - 77px);

    grid-template-columns: 140px 1fr;

}

iframe {
    width: 100%;
    height: 100%;
}

#side-menu {
    background-color: #2F343B;
    
    padding: 0px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#side-menu div {
    display: flex;
    flex-direction: column;
    gap: 60px;

    padding-top: 50px;
}

#side-menu button {
    padding: 5px;
    font-size: 16pt;
    height: 60px;
    width: 60px;

    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#livros {
    background-color: #F69C9E;
    
    border: none;
    
    transition: 0.125s linear;
}

#livros:hover {
    background-color: #c27b7c;
}


#alunos {
    background-color: #4D95CD;
    
    border: none;
    
    transition: 0.125s linear;
}

#alunos:hover {
    background-color: #4485b8;
}


#cadastros {
    background-color: #A4BF69;
    
    border: none;
    
    transition: 0.125s linear;
}

#cadastros:hover {
    background-color: #809653;
}


#outros {
    background-color: #D9C252;
    
    border: none;
    
    transition: 0.125s linear;
}

#outros:hover {
    background-color: #ac9a40;
}


#config {
    background-color: #7472A6;
    
    border: none;
    
    transition: transform 0.5s cubic-bezier(.25,0,.5,1), background-color 0.5s linear;
}

#config:hover {
    background-color: #61608b;
    transform: rotate(360deg);
}

#cadastro-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    background-color: #2F343B;

    position: absolute;
    top: 400px;
    left: calc(140px + 1%);

    transform: translateY(-50%);

    width: 200px;
    height: 150px;

    opacity: 0;
    pointer-events: none;

    box-shadow: 0 10px 10px black;

    border-radius: 10px;

    transition: .25s;
}

#cadastro-div button {
    padding: 10px;
    border-radius: 15px;
    border: none;

    background-color: #A4BF69;

    transition: 0.25s;
}

#cadastro-div button:hover {
    background-color: #809653;
}