@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body {
    background-color: #dadad5;
}

#search-div {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 0;

    box-shadow: 0 2px 0 #acacac;
}

#search-div input {
    outline: none;
    border: none;
    padding: 10px;
    width: 50%;
    border-radius: 30px;
}

.livro {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 100px;

    box-shadow: 0 2px 0 #acacac;

    transition: 0.025s;
}

.livro button {
    text-decoration: none;
    padding: 15px;
    font-size: 12pt;
    border-radius: 25px;
    border: none;
    background-color: #4D95CD;
    color: white;
    font-weight: bolder;
    transition: 0.25s;
}

.livro button:hover {
    background-color: #4485b8;
}

.livro button:active {
    background-color: #4D95CD;
}

.livro_id {
    display: flex;
    align-items: center;
    gap: 35px;
}

.livro_id > p {
    font-weight: bolder;
}

.livro_id ion-icon {
    font-size: 35pt;
}